{% for item in [portchannel_x, portchannel_y] %}
interface port-channel {{ item }}
  description {{ neighbor_rack_number_x if loop.index == 1 else neighbor_rack_number_y }}_{{ neighbor_device_x if loop.index == 1 else neighbor_device_y }}_Po{{ neighbor_portchannel_x if loop.index == 1 else neighbor_portchannel_y }}
  switchport
  switchport mode trunk
  spanning-tree port type network
  spanning-tree guard root
  mtu 9216
  storm-control broadcast level 1.00
  storm-control multicast level 1.00
  no shutdown
{% endfor %}
